<!DOCTYPE HTML>
<!--
	Broadcast by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Licorne arc-en-ciel</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/static/css/main.css" />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<h1><a id ="grad1" href="/">Licorne en  <span>FOLIES</span></a></h1>
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/">Home</a></li>
					<li><a href="/search">Rechercher</a></li>
					<li><a href="elements.html">Contact</a></li>
				</ul>
			</nav>


    {% block body %}{% endblock %}

    <!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="flex flex-3">
						<div class="col">
							<h3>Contact</h3>
							<ul class="alt">
								<li><a href="#">28 rue Cozette Amiens</a></li>
								<li><a href="#">+336488414</a></li>
								<li><a href="#">A propos</a></li>
								<li><a href="#">Nascetur nunc varius commodo.</a></li>
							</ul>
						</div>
						<div class="col" style="   height: 200px;width: 200px;background-repeat: no-repeat;background-size: cover;background-image: url(/media/footer.png);">
						</div>
						<div class="col">
							<h3>Accumsan</h3>
							<ul class="alt">
								<li><a href="#">Nascetur nunc varius commodo.</a></li>
								<li><a href="#">Vis id faucibus montes tempor</a></li>
								<li><a href="#">Massa amet lobortis vel.</a></li>
								<li><a href="#">Nascetur nunc varius commodo.</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="copyright">
					<ul class="icons">
						<li><a href="https://www.fandelicorne.com/" class="fab fa-twitter fa-2x"><span class="label"></span></a></li>
						<li><a href="https://www.facebook.com/passiondelicorne/?hc_ref=ARRO7FqrAwqaLjY0Sd3dwuiWFdFQbK0UTCD6hd4-UJEBRzYpPRtSeJPlwz71Fodlnpw&fref=nf" class="fab fa-facebook fa-2x"><span class="label"></span></a></li>
						<li><a href="https://www.instagram.com/cercle.des.licornes.disparues/" class="fab fa-instagram fa-2x"><span class="label"></span></a></li>
						<li><a href="https://www.instagram.com/cercle.des.licornes.disparues/" class="fab fa-snapchat fa-2x"><span class="label"></span></a></li>
					</ul><br>
					Merci ma couille - &copy; Design: <a href="https://templated.co">TEMPLATED</a>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="/static/js/jquery.min.js"></script>
			<script src="/static/js/jquery.scrolly.min.js"></script>
			<script src="/static/js/skel.min.js"></script>
			<script src="/static/js/util.js"></script>
			<script src="/static/js/main.js"></script>

	</body>
</html>
