{% extends "_base.html" %}


{% block body %}

<!-- One -->
      <section class="wrapper style1">
        <div class="inner">
          <header class="align-center">
            <h2>{{article.name}}</h2>
            <p>{{article.author}} - {{article.release_date|date:'D  M Y'}}</p>
          </header>
          <div class="centerArticle">
            <img src="/media/{{article.picture}}" class="figure-img img-fluid rounded" frameborder="0" ></img><br>
          </div>
          <div class="justify">
            <p>{{article.content}}</p>
          </div>

        </div>
      </section>

      <section class="wrapper style1">
        <div class="inner">
          {% if commentaires %}
            <table>
              <thead>
                <tr>
                  <th>Pseudo</th>
                  <th>Commentaire</th>
                  <th>Date de publication</th>
                </tr>
              </thead>
              <tbody>
                {% for commentaire in commentaires %}
                <tr>
                  <td>{{commentaire.author}}</td>
                  <td>{{commentaire.content}}</td>
                  <td>{{commentaire.release_date}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% else %}
              <p class='center'>Vous pourriez faire le premier commentaire de l'article</p>
            {% endif %}


          <h4 style="border-top: 2px solid #07393C; padding-top : 10px;"> Rediger un commentaire </h4>
          <form method="post">
            {% csrf_token %}
            <table>
              {{ form.as_table }}
            </table>
            <div class="button"><input type="submit" name="Commenter"></div>
            </form>
        </div>
      </section>

    <!-- Three -->
      <!-- <section class="wrapper ">
        <div class="inner">
          <header class="align-center">
            <h2>Aliquam ipsum purus dolor</h2>
            <p>Cras sagittis turpis sit amet est tempus, sit amet consectetur purus tincidunt.</p>
          </header> -->

          <!-- 3 Column Video Section -->
            <!-- <div class="flex flex-3">
              <div class="video col">
                <div class="image fit">
                  <img src="images/pic09.jpg" alt="" />
                  <div class="arrow">
                    <div class="icon fa-play"></div>
                  </div>
                </div>
                <p class="caption">
                  Cras eget lacus sed mauris scelerisque tincidunt
                </p>
                <a href="generic.html" class="link"><span>Click Me</span></a>
              </div>
              <div class="video col">
                <div class="image fit">
                  <img src="images/pic10.jpg" alt="" />
                  <div class="arrow">
                    <div class="icon fa-play"></div>
                  </div>
                </div>
                <p class="caption">
                  Vivamus vulputate lacus non massa auctor lobortis
                </p>
                <a href="generic.html" class="link"><span>Click Me</span></a>
              </div>
              <div class="video col">
                <div class="image fit">
                  <img src="images/pic11.jpg" alt="" />
                  <div class="arrow">
                    <div class="icon fa-play"></div>
                  </div>
                </div>
                <p class="caption">
                  Nam eu nisi non ante sodales interdum a vitae neque
                </p>
                <a href="generic.html" class="link"><span>Click Me</span></a>
              </div>
            </div>
        </div>
      </section>

    </div> -->
{% endblock %}
