{% extends "_base.html" %}
{% block body %}
<!-- <ul>
{% for article in latests_articles %}
     <li>{{ article.name }}</li>
{% endfor %}
</ul> -->

<!-- Banner -->
<!--
  To use a video as your background, set data-video to the name of your video without
  its extension (eg. images/banner). Your video must be available in both .mp4 and .webm
  formats to work correctly.
-->
  <section id="banner" data-video="media/banner">
    <div class="inner">
      <header>
        <h1>LICORNE ARC-EN-CIEL</h1>
        <p>Bienvenue dans le monde des licornes!</p>
      </header>
      <a href="#main" class="button big alt scrolly">Voir les derniers actualités</a>
    </div>

  </section>

<!-- Main -->
<div id="main">

<!-- One -->


  <section class="wrapper style1">
    <div class="inner">
      <header class="align-center">
        <h2>Les dernières actualités</h2>
        <p>Ici on parle des licornes et on en parle bien!</p>
      </header>
      <!-- 2 Column Video Section -->

        <div class="flex flex-2">
          {% for article in latests_articles %}
          <div class="video col">
            <div class="image fit">
              <img src="media/{{article.picture}}" alt="" />
            </div>
            <p class="caption">
              {{article.name }}
            </p>
            <a href="article/{{article.slug}}" class="link"><span>Click Me</span></a>
          </div>
          {% endfor %}
        </div>

        <div class="pagination center">
            <span class="step-links">
                {% if latests_articles.has_previous %}
                    <a class="button alt scrolly" href="?page={{ latests_articles.previous_page_number }}">Précédent</a>
                {% endif %}

                <span class="current">
                    Page {{ latests_articles.number }} à {{ latests_articles.paginator.num_pages }}
                </span>

                {% if latests_articles.has_next %}
                    <a class="button alt scrolly"  href="?page={{ latests_articles.next_page_number }}">Suivant</a>
                {% endif %}
            </span>
        </div>
    </div>
  </section>

  <section class="wrapper ">
    <div class="inner">
      <header class="align-center">
        <h2>Les événements</h2>
        <p>On peut aussi se retrouver autour d'un café pour parler de notre passion.</p>
      </header>

      <!-- 3 Column Video Section -->
        <div class="flex flex-3">
          <div class="video col">
            <div class="image fit">
              <img src="/media/starbuckslicorne.png" alt="" />
            </div>
            <p class="caption">
              Les Frappuccinos licorne! Pour une pause haute en couleur!
            </p>
          </div>
          <div class="video col">
            <div class="image fit">
              <img src="/media/licornehotel.jpg" alt="" />

            </div>
            <p class="caption">
              Dormir avec les licornes! C'est possible au Japon!
            </p>
          </div>
          <div class="video col">
            <div class="image fit">
              <img src="/media/coiffure.png" alt="" />

            </div>
            <p class="caption">
              Un nouveau coiffeur a ouvert!
            </p>
          </div>
        </div>
    </div>
  </section>

</div>
{% endblock %}
