{% extends '_base.html' %}
{% block body %}
<section class="wrapper style1">
<div class="inner">
  <div class="6u 12u$(xsmall)">
    <form method="get">
      {{ filter.form.as_p }}
      <button type="submit">Rechercher</button>
    </form>
  </div>

  <div class="flex flex-2">
    {% for article in filter.qs %}
    <div class="video col">
      <div class="image fit">
        <img src="media/{{article.picture}}" alt="" />
      </div>
      <p class="caption">
        {{article.name }}
      </p>
      <a href="article/{{article.slug}}" class="link"><span>Lire la suite</span></a>
    </div>
    {% endfor %}
  </div>

</div>
</section>
{% endblock %}
